.live-block-container {
  padding: 30px 10px 30px 10px;
}

.latest-block {
  width: 600px;
  height: 200px;
  padding: 10px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 2px 5px 10px #dbd9d9;
}

.latest-transaction {
  width: 600px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 2px 5px 10px #dbd9d9;
}

.latest-block-hr {
  border: 1px #eceff4 solid;
  margin-top: -3px;
}

.divider {
  border: 1px #eceff4 solid;
}

.blocks-transaction {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.blocks .block-box {
  background: #ebedef;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 15px;
}

.block-box-image {
  width: 25px;
  padding-right: 10px;
  display: block;
  margin: auto;
  padding-top: 8px;
}

.blocks-details {
  display: flex;
  align-items: center;
}

.block-link {
  margin-right: 100px;
  text-decoration: none;
  color: #fe891b;
}

.block-address {
  text-decoration: none;
  color: #fe891b;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.amount {
  background: #fe891b;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.address-to-from {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .latest-transaction {
    width: 100%;
    overflow: hidden;
  }
  .blocks-details {
    overflow-x: scroll;
  }
}
