.explorer-container {
  margin-top: 70px;
}

.explorer-search {
  background: url("../../Assets/images/bg_home_top.png");
  background-color: #323232;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: -13px;
}

.explorer-text {
  padding: 50px 0px 0px 60px;
  color: #fff;
  font-size: 23px;
}

.explorer-search-input {
  padding: 10px 0px 0px 60px;
  display: flex;
  align-items: center;
}

.explorer-search-input input {
  width: 500px;
  height: 47px;
  font-family: "Nanum Gothic Coding", monospace;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.explorer-search-input input::placeholder {
  color: #b7b8ba;
  font-family: "Nanum Gothic Coding", monospace;
}

.explorer-search-input input:focus {
  outline: none;
}

.explorer-search-input button {
  height: 50px;
  width: 45px;
  border-radius: 5px;
  border: none;
  background: #fe891b;
  color: #fff;
  font-size: 20px;
  margin-left: -10px;
  border: 1px solid #fff;
}

.text-white {
  color: #fff;
  padding-left: 60px;
}

.explorer-search-input button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .explorer-text {
    padding: 50px 0px 0px 10px;
  }
  .explorer-search-input {
    padding: 10px 0px 0px 10px;
    justify-content: center;
  }
  .explorer-search-input input {
    width: 300px;
  }
  .explorer-search-input button {
    margin-left: -20px;
  }
}
