.explorer-container {
  margin-top: 70px;
}

.explorer-search {
  background: url("../../Assets/images/bg_home_top.png");
  background-color: #323232;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: -13px;
}

.explorer-text {
  padding: 50px 0px 0px 30px;
  color: #fff;
  font-size: 23px;
}

.explorer-search-input {
  padding: 10px 0px 0px 30px;
}

.explorer-search-input input {
  width: 500px;
  height: 35px;
}
