.live-data-container {
  background: #fff;
  margin-left: 60px;
  width: 70%;
  height: 155px;
  margin-top: -70px;
  box-shadow: 2px 10px 20px #e9e1e1;
  border-radius: 12px;
  padding: 15px;
}

.data-container {
  display: flex;
  justify-content: space-between;
}

.transactions {
  display: flex;
  justify-content: space-between;
}

.blocks-data {
  width: 50%;
}

.blocks-data hr {
  border: 1px #eceff4 solid;
  width: 40%;
  position: absolute;
}

.personal-details {
  margin-top: -25px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-text {
  display: flex;
  align-items: center;
}

.image-text img {
  margin-right: 10px;
}

.image-text p {
  margin-top: -19px;
}

.gas-fee p {
  margin-top: -19px;
}

.image-text img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.title {
  color: #939ca5;
}

.wallet-address {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

.line-graph {
  margin-top: -10px;
  width: 50%;
}
